<h1>Server-check</h1>
<div class="content"><div class="file_upload" width="200px" height="180px">
<input type="file" (change)="onFileSelected($event)">
<!-- <input type="button" (change)="uploadImg()" value="Upload">  -->
<button type="button" (click)="uploadImg()">Upload Image</button>
</div>
<div class="img" width="200px" height="180px">
<img src="{{url}}" alt="choosen img" width="300px" height="160px">
</div>
</div>
<br><br> -->
<!-- <h3>Test-trail to upload in server</h3>
<div class="content"><div class="file_upload" width="200px" height="180px">
  <input type="file" (change)="onFileSelected($event)">
  <input type="button" value="upload" (click)="uploadImg()"> -->
  <!-- </div>
  <div class="img" width="200px" height="180px">
  <img src="{{url}}" alt="choosen img" width="300px" height="160px">
  </div>
  </div> --> 
